{% load static %}
<!DOCTYPE html>

<head>
    <!-- Font and CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap"
        rel="stylesheet">

    <!-- <link href="{% static 'css/sort-list.css' %}" rel="stylesheet" type="text/css" /> -->

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />


    <!-- TailWind CSS  -->
	<script src="{% static 'js/tailwind.min.js' %}"></script>
	<script src="{% static 'js/tailwindconfig.js' %}"></script>


    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <div class="relative isolate overflow-hidden bg-gray-900  sm:pb-24 h-[100vh]">
        <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
            alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
        <svg viewBox="0 0 1097 845" aria-hidden="true"
            class="hidden transform-gpu blur-3xl sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:w-[68.5625rem]">
            <path fill="url(#10724532-9d81-43d2-bb94-866e98dd6e42)" fill-opacity=".2"
                d="M301.174 646.641 193.541 844.786 0 546.172l301.174 100.469 193.845-356.855c1.241 164.891 42.802 431.935 199.124 180.978 195.402-313.696 143.295-588.18 284.729-419.266 113.148 135.13 124.068 367.989 115.378 467.527L811.753 372.553l20.102 451.119-530.681-177.031Z" />
            <defs>
                <linearGradient id="10724532-9d81-43d2-bb94-866e98dd6e42" x1="1097.04" x2="-141.165" y1=".22"
                    y2="363.075" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#776FFF" />
                    <stop offset="1" stop-color="#FF4694" />
                </linearGradient>
            </defs>
        </svg>
        <svg viewBox="0 0 1097 845" aria-hidden="true"
            class="absolute left-1/2 -top-52 -z-10 w-[68.5625rem] -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0">
            <path fill="url(#8ddc7edb-8983-4cd7-bccb-79ad21097d70)" fill-opacity=".2"
                d="M301.174 646.641 193.541 844.786 0 546.172l301.174 100.469 193.845-356.855c1.241 164.891 42.802 431.935 199.124 180.978 195.402-313.696 143.295-588.18 284.729-419.266 113.148 135.13 124.068 367.989 115.378 467.527L811.753 372.553l20.102 451.119-530.681-177.031Z" />
            <defs>
                <linearGradient id="8ddc7edb-8983-4cd7-bccb-79ad21097d70" x1="1097.04" x2="-141.165" y1=".22"
                    y2="363.075" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#776FFF" />
                    <stop offset="1" stop-color="#FF4694" />
                </linearGradient>
            </defs>
        </svg>

        <!-- Logo  -->
        <div class="py-4 px-4 sm:pr-10">
            <img src="{% static 'images/O-shaped_logo.png' %}" class="h-16 sm:h-24 object-contain w-auto ml-auto" />
        </div>

        <div class="mx-auto container md:max-w-7xl pt-10 sm:pt-10 px-6 lg:px-8">
            <div class="container md:max-w-2xl lg:mx-0 text-center sm:text-left">
                <h2 class="text-4xl font-bold tracking-tight text-white  sm:text-6xl">
                    O-Shaped Psychometric Test
                </h2>
                <p class="mt-4 sm:mt-6 text-sm  sm:text-lg leading-6 sm:leading-8 text-gray-100 sm:text-gray-300">
                    We collaborate with you to design bespoke people-focussed programmes
                    that will always be practical, engaging and apply the latest O Shaped thinking to realise your
                    people and your team’s potential.
                </p>
            </div>
            <div class="mx-auto mt-10 sm:mt-10 container lg:mx-0 ">
                <div
                    class="grid grid-cols-1 sm:grid-cols-1 gap-y-6 sm:gap-y-6  text-base sm:text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
                    <button onclick="toggleModal('modal-id')"
                        class="transition duration-500 text-center ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        Take Test <span aria-hidden="true">&rarr;</span>
                    </button>

                    <button href="#" onclick="toggleModal('modal-id')"
                        class="transition text-center duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        View
                        Report <span aria-hidden="true">&rarr;</span>
                    </button>

                    <a class="transition duration-500 text-center ease-in-out transform hover:-translate-y-1 hover:scale-110"
                        href="https://oshaped.com" target="_blank">Find out more <span
                            aria-hidden="true">&rarr;</span></a>

                    <a class="transition duration-500 text-center ease-in-out transform hover:-translate-y-1 hover:scale-110"
                        href="https://oshaped.com/faculty-copy" target="_blank">Meet our leadership <span
                            aria-hidden="true">&rarr;</span></a>
                </div>

                <!-- Other Stats  -->
                <div class="hidden sm:grid mt-16 grid-cols-2 sm:grid-cols-1 gap-y-6 sm:gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col-reverse text-center sm:text-left">
                        <p class="text-sm sm:text-base leading-7 text-gray-300">Offices worldwide</p>
                        <p class="text-xl sm:text-2xl font-bold leading-9 tracking-tight text-white">12</p>
                    </div>

                    <div class="flex flex-col-reverse text-center sm:text-left">
                        <dt class="text-xs sm:text-base leading-7 text-gray-300">Full-time colleagues</dt>
                        <dd class="text-xl sm:text-2xl font-bold leading-9 tracking-tight text-white">300+</dd>
                    </div>

                    <div class="flex flex-col-reverse text-center sm:text-left">
                        <dt class="text-xs sm:text-base leading-7 text-gray-300">Hours per week</dt>
                        <dd class="text-xl sm:text-2xl font-bold leading-9 tracking-tight text-white">40</dd>
                    </div>

                    <div class="flex flex-col-reverse text-center sm:text-left">
                        <dt class="text-xs sm:text-base leading-7 text-gray-300">Paid time off</dt>
                        <dd class="text-xl sm:text-2xl font-bold leading-9 tracking-tight text-white">Unlimited</dd>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal  -->
    <div class="relative z-10 hidden" id="modal-id" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div
                    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">

                                <div class="mt-3 text-center sm:mt-0 sm:ml-2 sm:text-left">
                                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Enter
                                        email
                                        account</h3>

                                    <div class="mt-2">
                                        <p class="text-sm text-gray-700">
                                            Do you want to resume your test or start a new Oshaped test? Enter the email
                                            address previously used to start the test to gain access!</p>
                                    </div>

                                    <div class="mt-2.5 space-y-1">
                                        <input type="email" name="email" id="email" autocomplete="email" required
                                            placeholder="Enter email"
                                            class="block w-full rounded-md text-sm sm:text-base border border-gray-300 sm:border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">

                                        <p class="pl-0.5 text-xs text-gray-500">
                                            Do not have an account? <a href="login"
                                                class="text-primary underline font-medium">Sign Up</a>
                                        </p>

                                        {% if found == False %}
                                        <p class="pl-0.5 text-xs text-red-600 text-center">Email does not exist!</p>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class=" px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                            <button type="submit" actio
                                class="inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-medium text-white shadow-sm sm:ml-3 sm:w-auto transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">Take
                                Test</button>
                            <button type="button" onclick="toggleModal('modal-id')"
                                class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        // Show error if user is not found 
        if ("{{found}}" == "False") {
            toggleModal('modal-id')
        }

        function toggleModal(modalID) {
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
            document.getElementById(modalID).classList.toggle("flex");
            document.getElementById(modalID + "-backdrop").classList.toggle("flex");
        }
    </script>

</body>

</html>